<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<%= link_to 'Edit', edit_universe_location_path(@universe, @location) %> |
<%= link_to 'Back', universe_locations_path(@universe) %>
