<h1>Scenes in the <%= link_to @story.name, storyarc_stories_path(@story.storyarc_id), :method => :get %> Story </h1>

<table>
    <tr>
        <th>Name</th>
		<th></th>
        <th></th>
    </tr>
    <% @scenes.each do |scene| %>
    <tr>
        <td><%= best_in_place scene, :name, :type => :input%></td>
        <td><%=  button_to 'Show', scene, :method => :get %> </td>
        <td><%= button_to 'Destroy',scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
<br />
