<h3>Welcome</h3>

  <p> This is a tool for generating and testing stories to elevate creative world building into a systematic process. Because a fictional world is not just a setting, it is the mechanism that frames events, it produces an incredible amount of data. If that data is not controlled it can turn a great story into a poor one. Indeed, without good control over the world data, the story can never be great. 
  	  This can be the tool that brings the data elements under control for you.
  </p>

