
	<h1><%= link_to 'events', location_events_url %></h1>

	<table>
	    <tr>
	        <th>Name</th>
	    </tr>
	    <%  @events.each do |event| %>
	    <tr><td><%= event.name %></td></tr>
	    <% end %>
	</table>
