<h1>Events at <%=  link_to @location.name, universe_locations_path(@location.universe.id), :method => :get %> Location</h1>

</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= best_in_place event, :name, :type => :input%></td>
    <td><%= button_to 'Destroy',event, method: :delete, data: { confirm: 'Are you sure?' } %></td>  </tr>
<% end %>
</table>

<br />

<%= render 'form' , :locals =>  {:event => @event} %>