
	<h1><%= link_to 'Stories', toryarc_stories_path(@storyarc) %></h1>

	<table>
	    <tr>
	        <th>Name</th>
	    </tr>
	    <%  @stories.each do |story| %>
	    <tr><td><%= story.name %></td></tr>
	    <% end %>
	</table>
