 
 
                            <!--SIDE 1 -->
                            <div id="main">
                                <div class="content">
                                    <h1>Story</h1>
                                    <%= render 'form' %>
                                    <%= link_to 'Back to Story', universe_stories_path(@story.universe_id) %> | <%= link_to 'Back', story_path(@story) %>
                                </div><!-- content -->
                            </div><!-- main -->
                            <!-- SIDE 2-->

