<%#TODO: add scene count, # of chapter, # of #act 
#TODO: does act still serve a purpouse?
%>
<section id="middle">
    <div id="container">
        <strong> Center Content:</strong>
        <%= render 'index' %>
    </div>
    <aside id="double_side_right">
        <strong> Side</strong>
        <div class="stacks">
            <div class="inner_stack_left">
            	<strong> Stack 0</strong>
            	
            	<table>
					<tr><th>Stories</th></tr>
					<% @stories.each do |story| %>
					  <tr><td><%= link_to story.name, story_scenes_path(story)%></td></tr>
					<% end %>
				</table>
            </div>
            <div class="inner_stack_right">
                <strong> Stack 1</strong>
            </div>
        </div>
        <div class="stacks">
            <div class="inner_stack_left">
                <strong> Stack 2</strong>

            </div>
            <div class="inner_stack_right">
                <strong> Stack 3</strong>

            </div>
    </aside>
</section>