 
 
                            <!--SIDE 1 -->
                            <div id="main">
                                <div class="content">
                                    <h1>New story</h1>
                                    <%= render 'form' %>
                                    nk_to 'Back', universe_stories_path %>
                                </div><!-- content -->
                            </div><!-- main -->
                            <!-- SIDE 2-->

