<h1><%= link_to 'Characters', scene_characters_path(@scene) %></h1>

<table>
<% @scene.characters.each do |character| %>
  <tr>
    <td><%=  link_to character.name, character_path(character) %></td>
  </tr>
<% end %>
</table>


