                    <div class="bd">
                        <div id="page">
                            <!--SIDE 1 -->
                            <div id="main">
                                <div class="content">
                                    <%= render "index"%>
                                </div><!-- content -->
                            </div><!-- main -->
                            <!-- SIDE 2-->
                        </div><!-- page-->
                        <div class="clear" style="height:60px"></div>
                    </div><!-- bd -->
