<section id="middle">
	middle
	<aside id="single_side_Left">
		<strong>single_side_right</strong>
		Insert tabs? Sliders?
        <div class="stacks">
            <div class="inner_stack_single">
                <strong> inner_stack_single 0</strong>
                Show
				<%= render "show" %>	
            </div>
            <div class="inner_stack_single">
                <strong>inner_stack_single 1</strong>
				<%= render "new" %>	
            </div>
        </div>
	</aside>	
    <div id="single_center">

        <strong> single_center: <%= @universe.name %> universe Characters</strong>
		<%= render "index" %>
    </div><!-- #container-->

    <aside id="single_side_right">
        <strong>single_side_right</strong>
        <div class="stacks">
            <div class="inner_stack_single">
                <strong> inner_stack_single 2</strong>
				Stories? Double length?
            </div>
            <div class="inner_stack_single">
                <strong>inner_stack_single 3</strong>
				Locations? Universes?
            </div>
        </div>
    </aside>
</section><!-- #middle-->