 
 
                            
                           
                            <div id="main_2col">
                                <!-- SIDE 2-->
                                <div class="content">
                                    <%= render "index"%>
                                </div><!-- content -->
                            </div><!-- main -->
                            <!-- SIDE 1-->
                            <%= render "sidebar1"%>
