<section id="middle">
	<aside id="single_side_Left">
		<strong>single_side_right</strong>
        <div class="stacks">
            <div class="inner_stack_single">
                <strong> inner_stack_single 0</strong>
                	<%= render 'locations/locations_sidestack' %>
            </div>
            <div class="inner_stack_single">
                <strong>inner_stack_single 1</strong>
                	<%= render 'storyarcs/storyarcs_sidestack' %>
            </div>
        </div>
	</aside>
		
    <div id="single_center">
        <strong> single_center:</strong>
        <h1>Characters in <%=  link_to @universe.name, @universe, :method => :get %> Universe</h1>
		<%= render "index" %>
    </div>
	
	<fieldset id="single_side_right">
	<legend>Section for  comment/tags</legend>
		<p>Tags are things which identify a character. 
			Tags can include anything that a person interacting with the character would notice about him. 
			The combination of a character's tags should set him or her apart from all other characters in the novel. 
			The most common character tag is character's name. 
			
		</p>
		 
	</fieldset>
</section><!-- #middle-->