

                            <!--SIDE 1 -->
                            <div id="main">
                                <div class="content">
                                    <h1>New character</h1>
                                    <%= render 'form' %>
                                    <%= button_to 'Back', universe_characters_path %>
                                </div><!-- content -->
                            </div><!-- main -->
                            <!-- SIDE 2-->