<section id="middle">
    <aside id="single_side_Left">
        <strong>single_side_right</strong>
        <div class="stacks">
            <div class="inner_stack_single">
                <strong> inner_stack_single 0</strong>
                render location
            </div>
            <div class="inner_stack_single">
                <strong>inner_stack_single 1</strong>
                render scenes
            </div>
        </div>
    </aside>

    <div id="single_center">
        <strong> single_center:</strong>
        <h1><%= link_to 'Characters', universe_characters_path(@characters.universe_id) %></h1>
        <%= render "show" %>
        <fieldset>
            <legend>
                Character Descriptions
            </legend>
            <%= render 'parts/parts_sidestack' %>
        </fieldset>
    </div>

</section><!-- #middle-->