<h1>Story Arcs in <%=  link_to @universe.name, @universe, :method => :get %> Universe</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @storyarcs.each do |storyarc| %>
  <tr>
    <td><%= best_in_place storyarc, :name, :type => :input%></td>
    <td><%= button_to 'Destroy', storyarc, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
  </tr>
<% end %>
</table>
<br />
<%= render 'form' , :locals =>  {:storyarc => @storyarc} %>