<h1><%= link_to 'Story Arcs', universe_storyarcs_path(@universe) %></h1>

<table>
    <tr> <th>Name</th> </tr>
    <% @universe.storyarcs.each do |storyarc| %>
    	<tr> <td><%= link_to storyarc.name, storyarc_stories_path(storyarc) %></td> </tr>
    <% end %>
</table>

