<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @storyarc.name %>
</p>

<%= link_to 'Edit', edit_universe_storyarc_path(@universe, @storyarc) %> |
<%= link_to 'Back', universe_storyarcs_path(@universe) %>