<h1>Universes</h1>

<section>
    <p>
       This is the top level <a href='http://en.wikipedia.org/wiki/Canon_(fiction)'> canonical </a> 
       reference for your fictional setting. Here you have 'at a glance' views of the Characters, Locations, Scenes 
       and Stories contained within a Universe.
    <p> 
</section>

<table class="table1">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @universes.each do |universe| %>
  <tr>
    <td> <%= best_in_place universe, :name, :type => :input %></td>
    <td><%= link_to 'Show', universe %></td>
    <td><%= link_to 'Remove', universe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Universe', new_universe_path %>