<h1>Universes</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Owner</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	
	<% @universes.each do |universe| %>
	  <tr>
		<td><%= best_in_place universe, :name, :type => :input %></td>
		<td>  </td>>
		<td>  <%= link_to 'Destroy', universe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
</table>
<br />
<%= render "universes/form", :locals =>  {:universe => @universe} %></tr>
	