<h1>Universes</h1>

<aside>
    <p>This is the top level <a href='http://en.wikipedia.org/wiki/Canon_(fiction)'> canonical </a> 
       reference for your fictional setting. The useage at this level are the name that you would
       like the work to be referenced by and the description of what you expect the setting to be used for.
    <p> 
    
</aside>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @universes.each do |universe| %>
  <tr>
    <td> <%= best_in_place universe, :name, :type => :input %></td>
    <td><%= link_to 'Show', universe %></td>
    <td><%= link_to 'Destroy', universe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Universe', new_universe_path %>