<div id="sidebar"><!-- SIDE 1 -->
    <div class="content">
        <div class="sidebox1">
            <h2>Side Box Menu</h2>
            <div class="sidebox1">
                <h2>Side Box Heading</h2>
                <section>
                    
                </section>
            </div>
        </div>
    </div>
</div><!-- END SIDE 1 -->