<h3>Welcome <%= current_user.name%></h3>
<section id="middle">
	<div id="container">
		<strong> Center Content:</strong>
		<%= render 'universes/index' %>
	</div><!-- #container-->
</section><!-- #middle-->