
                            <!--SIDE 1 -->
                            <div id="main">
                                <div class="content">
                                    <%= render "index"%>
                                </div><!-- content -->
                            </div><!-- main -->
                            <!-- SIDE 2-->
