
<h3>Welcome <%= current_user.name%></h3>
<p>TODO:  fix widths and floats : auto adjust to screeen size /w minimums</p>

<section id="middle">
	<div id="container">
		<div id="content">
			<strong> Center Content:</strong> 
			<%= render 'universes/index' %>
								 
		</div><!-- #content-->
	</div><!-- #container-->

	
</section><!-- #middle-->