                            <!--SIDE 2 -->
                            
                            <div id="main_2col">
                                <div class="content">
                                    <p id="notice"><%= notice %></p>
                                    <h3><b>Name:</b><%= @universe.name %></h3>
                                    <%= render 'parts/parts' %>
                                </div><!-- content -->
                            </div><!-- main -->
                            <%= render 'universes/sidebar1' %>
                            <!-- SIDE 1-->


