
                    <div class="bd">
                        <div id="page">
                            <!--SIDE 1 -->
                            <div id="main">
                                <div class="content">
                                    <p id="notice">
                                        <%= notice %></p>
                                            <p>
                                              <b>Name:</b>
                                              <%= @universe.name %>
                                            </p>
                                        <%= render 'parts/parts' %>
                                </div><!-- content -->
                            </div><!-- main -->
                            <!-- SIDE 2-->
                        </div><!-- page-->
                        <div class="clear" style="height:60px"></div>
                    </div><!-- bd -->


