<section id="middle">
    <div id="container">

        <strong> Center Content:</strong>
        <p> <b>Name:</b><%= @universe.name %> </p>

    </div><!-- #container-->

    <aside id="double_side_right">
        <strong> Side</strong>
        <div class="stacks">
            <div class="inner_stack_left">
                <strong> Stack 0</strong>
                <p> logic to not show owner<br />
                 Add colab not programed</p>
                <%= render 'users/users_sidestack' %>
                <br />
            </div>
            <div class="inner_stack_right">
                <strong> Stack 1</strong>
                <%= render 'characters/characters_sidestack' %>
                <p></p>
            </div>
        </div>
        <div class="stacks">
            <div class="inner_stack_left">
                <strong> Stack 2</strong>
                <p> TODO: </p>
                <p> add #elements from Locations index </p>
                <p></p>
            </div>
            <div class="inner_stack_right">
                <strong> Stack 3</strong>
                <p> TODO: </p>
                <p> add #elements from Story Arcs index  </p>
                <p></p>
            </div>
    </aside><!-- #sideLeft -->
</section><!-- #middle-->