
                            <%= render 'universes/sidebar1'%>
                            <div id="main">
                                <div class="content">
                                    <p id="notice">
                                        <%= notice %></p>
                                            <p>
                                              <b>Name:</b>
                                              <%= @universe.name %>
                                            </p>
                                        <%= render 'parts/parts' %>
                                </div><!-- content -->
                            </div><!-- main -->
                            <!-- SIDE 2-->


