
	<h1><%= link_to 'Societies', location_societies_url %></h1>

	<table>
	    <tr>
	        <th>Name</th>
	    </tr>
	    <%  @societies.each do |society| %>
	    <tr><td><%= society.name %></td></tr>
	    <% end %>
	</table>
