<section id="middle">
    <div id="container">
        <strong> Center Content:</strong>
        <%= render 'index' %>
    </div><!-- #container-->
    <aside id="single_side_right">
        <strong> Side</strong>
        <div class="stacks">
            <div class="inner_stack_single">
                <strong> Stack 0</strong>
                	<h3>comments/details</h3>
            </div>
        </div>
    </aside>
</section>