// Place all the styles related to the Dashboard layouts here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Layout
*{margin:1px;padding:0px;}
html{height:100%;}
header,nav,section,article,aside,footer{display:block;}
body{font:12px/18px Arial,Tahoma,Verdana,sans-serif;width:100%;height:100%;}
a{color:blue;outline:none;text-decoration:underline;}
a:hover{text-decoration:none;}
p{margin:0 0 18px}
img{border:none;}
input{vertical-align:middle;}
#wrapper{width:1000px;margin:0 auto;min-height:100%;height:auto !important;height:100%;}

/* main content
-----------------------------------------------------------------------------*/
#middle{width:100%;padding:0 0 10px;height:1%;min-height:100%;height:auto !important;height:100%;position:relative;background:#B5E3FF;}
#middle:after{content:'';clear:both;display:table;}
#container{width:100%;float:left;min-height:300px;overflow:hidden;background-color:#cccccc}

/* Sidebars
-----------------------------------------------------------------------------*/
#single_side_right{float:right;margin-left:-75%;width:25%;position:relative;background:#B5E3FF;}
#single_side_Left{float:left;margin-left:1px;width:25%;position:relative;background:#B5E3FF;}
#double_side_right{float:right;margin-left:-50%;width:49%;position:relative;background:#B5E3FF;}
#double_side_Left{float:left;margin-left:1px;width:49%;position:relative;background:#B5E3FF;}


// CSS for stacked 
.stacks{position:relative;float:left;left:0px;width:99%;margin-bottom:10px;background-color:#cccccc}
.inner_stack_single{position:relative;float:left;left:5px;width:98%;height:263px;background-color:#828282}
// for innerstacks display order is left then right
.inner_stack_right{position:relative;float:right;left:5px;width:49%;height:263px;background-color:#828282}
.inner_stack_left{position:relative;float:left;left:5px;width:49%;height:263px;background-color:#828282}

body{border-width:0px;padding:0px;margin:0px;font-size:90%;background-color:#e7e7de}
