/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require_self
 *= require_tree .
*/



header#page_header{background-color:#A9A9F5;color:#fff;height:100px;margin-bottom:10px;
  overflow:hidden;padding:10px 20px;
  a:a:link, a:hover, a:active, a:visited {;color:#fef8e7;text-decoration:none;}
  nav#auth_menu{display:inline;font-size:.8em;}
  #navlist li{display:inline;list-style-type:none;padding-right:20px;}
}


#auth_menu{list-style:none;float:right;width:150px;padding-top:35px;mine-height:125px;
  padding-left:50px;background:url(menu_background.png) no-repeat;
}
#auth_menu ul{list-style:none;margin:0;padding:0;}
#auth_menu a:link{color:#b8b8b8;font-family:Trebuchet MS;font-size:14px;height:23px;
  display:block;text-decoration:none;padding:8px 0 0;font-weight:400;
}
#auth_menu a:visited{text-decoration:line-through;}
#auth_menu a:hover{color:#595959;}
#auth_menu a:active{color:#dbdbdb;}



.content{background-color:#eee;padding:20px;margin:0 -20px;
   /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15);-moz-box-shadow:0 1px 2px rgba(0,0,0,.15);
  box-shadow:0 1px 2px rgba(0,0,0,.15);
}

// Dashboard code

/*Layout */
*{margin:1px;padding:0px;}
html{height:100%;}
header,nav,section,article,aside,footer{display:block;}
body{font:12px/18px Arial,Tahoma,Verdana,sans-serif;width:100%;height:100%;}
a{color:blue;outline:none;text-decoration:underline;}
a:hover{text-decoration:none;}
p{margin:0 0 18px}
img{border:none;}
input{vertical-align:middle;}
#wrapper{width:1000px;margin:0 auto;min-height:100%;height:auto !important;height:100%;}

/* main content
-----------------------------------------------------------------------------*/
#middle{width:100%;padding:0 0 10px;height:1%;min-height:100%;height:auto !important;height:100%;position:relative;background:#B5E3FF;}
#middle:after{content:'';clear:both;display:table;}
#container{width:100%;float:left;min-height:300px;overflow:hidden;background-color:#cccccc}

/* Sidebars
-----------------------------------------------------------------------------*/
#single_side_right{float:right;margin-left:-75%;width:25%;position:relative;background:#B5E3FF;}
#single_side_Left{float:left;margin-left:1px;width:25%;position:relative;background:#B5E3FF;}
#double_side_right{float:right;margin-left:-50%;width:49%;position:relative;background:#B5E3FF;}
#double_side_Left{float:left;margin-left:1px;width:49%;position:relative;background:#B5E3FF;}


// CSS for stacked 
.stacks{position:relative;float:left;left:0px;width:99%;margin-bottom:10px;background-color:#cccccc}
.inner_stack_single{position:relative;float:left;left:5px;width:98%;height:263px;background-color:#828282}
// for innerstacks display order is left then right
.inner_stack_right{position:relative;float:right;left:5px;width:49%;height:263px;background-color:#828282}
.inner_stack_left{position:relative;float:left;left:5px;width:49%;height:263px;background-color:#828282}

body{border-width:0px;padding:0px;margin:0px;font-size:90%;background-color:#e7e7de}
