<h1>Locations in <%=  link_to @scene.name, @scene, :method => :get %> Universe</h1>
</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= best_in_place location, :name, :type => :input%></td>
    <td><%= button_to 'Destroy',location, method: :delete, data: { confirm: 'Are you sure?' } %></td>  </tr>
<% end %>
</table>

<br />

<%= render 'form' , :locals =>  {:location => @location} %>