<h1><%= link_to 'Locations', universe_locations_path(@universe) %></h1>

<table>
    <tr> <th>Name</th> </tr>
    <% @universe.locations.each do |location| %>
    	<tr> <td><%= link_to location.name, location_path(location) %></td> </tr>
    <% end %>
</table>

