            <div class="ft">
                <div id="footer">
                    <div class="content">
                        <h4>Currently at <%= current_universe%></h4>
                        <p> <a href="http://www.dotemplate.com">Templates</a> builder </p>
                    </div> <!-- content -->
                </div> <!-- footer -->
                <div id="container-bottom"></div>
            </div>
