         <div class="hd"> 
            <div id="container-top"></div>  
            <div id="banner"></div>  
            <div id="hmenu-wpr"> 
              <ul id="hmenu" class="sf-menu sf-js-enabled sf-shadow">
                <li class="current" style="border:none"> <a class="toplvl sf-with-ul" href="#">Home</a> </li>
                
                <li> <a href="#" class="toplvl">Universes</a>  
                      <ul>
                        <li> <a href="#">Locations</a></li>
                        <li class="current"><a href="#">Characters</a></li>
                        <li> <a href="#">Scenes</a></li>
                        <li> <a href="#">Stories</a>  
                          <ul>
                            <li><a href="#">Create Story</a></li>
                            <li><a href="#">Play Story</a></li>
                          </ul> 
                        </li>
                      </ul> 
                </li>
                
                <li><a href="#" class="toplvl">Authentication</a>  
                  <ul>
                    <li class="current"> <a href="#">Login</a></li>
                    <li><a href="#">logout</a></li>
                  </ul> 
                </li>
              </ul><!--end hmenu --> 
            </div> 
          </div>