    <header id="page_header" role="banner">
      <%= link_to "Disambiguation", root_path, :class => 'title' %>
      <nav class="navbar-inner">
      	<%= render 'layouts/devise_nav' %>
      </nav>
    </header>